<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-3">
    <h2>Product List</h2>
    <a th:href="@{/product/create}" class="btn btn-primary mb-3">Create New Product</a>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.productid}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productQuantity}"></td>
            <td>
                <a th:href="@{/product/edit/{id}(id=${product.productid})}" class="btn btn-success">Edit</a>
                <!-- Delete functionality will be implemented in a different branch -->
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
